@font-face {
  font-family: Garamond;
  src: url("/EBGaramond12-Regular.otf") format("opentype");
}

body {
  font-family: serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 12px;
  background-color: #eee;
  padding: 12px;
}
